.fBgContainer {
    background-size: cover; /* Asegúrate de que la imagen cubra el área */
    transition: background-image 1s ease-in-out; /* Transición suave del fondo */
    position: relative; /* Asegúrate de que el elemento tenga posición relativa si es necesario */
}

@keyframes slide-in {
    from {
        margin-left: 100%; /* Comienza desde la derecha */
    }
    to {
        margin-left: 0; /* Termina en la posición normal */
    }
}